.header-container,
.header-links,
.header-links a, 
.main-container,
.footer-container {
    display: flex;
}

.header-container,
.footer-container,
.header-links a {
    justify-content: space-between;
    align-items: center;
}

.header-links {
    gap: 15px;
}

.header-links img,
.footer-container img {
    width: 25px;
}

.main-container img {
    width: 100%;
    margin: 10px auto;
}